html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  color: #ffffff;
}

body a:focus {
  outline: none;
}

.container {
  position: relative;
  max-width: 1128px;
  margin: 0 auto;
}

/*
  ========================================
  header styles start
  ========================================
*/

header {
  padding: 33px 0 40px;
  background: linear-gradient(
      180deg,
      #1b1e228c 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      #1b1e22 80.67%
    ),
    url(../imgs/bg_header.png) no-repeat center;
  background-size: cover;
}

.header_nav,
.logo_lang-wrap,
.nav_bar,
.lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header_nav {
  padding-bottom: 145px;
}

header a {
  text-decoration: none;
}

.logo {
  margin-right: 33px;
  padding-bottom: 14px;
}

.lang_item {
  padding-right: 25px;
}

.lang_item:last-child {
  padding-right: 0;
}

.lang_link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  transition: 0.25s;
}

.lang_link.eng:hover,
.lang_link.rus:hover {
  color: white;
}

.lang_link.eng {
  color: rgba(196, 196, 196, 0.5);
}

.nav_bar-item {
  margin-right: 40px;
}

.nav_bar-item-var {
  margin-right: 35px;
}

.nav_bar-item:last-child {
  margin-right: 0px;
}

.nav_bar-link {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  transition: 0.5s;
}

.nav_bar-link:hover {
  opacity: 0.6;
}

.nav_bar .help {
  padding: 12px 33px;
  border: 1px solid #ffb800;
  border-radius: 10px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  transition: 0.3s;
}

.nav_bar .help:hover {
  background-color: #ffb800;
  color: #000000;
}

.header_menu {
  display: none;
}

.menu-pic {
  width: 32px;
}

.banner_title {
  margin-bottom: 25px;
  max-width: 582px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.banner_text {
  padding-bottom: 277px;
  max-width: 474px;
  font-size: 20px;
  line-height: 38px;
}

.search {
  position: absolute;
  padding: 55px 70px;
  max-width: 500px;
  min-height: 360px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  top: 131px;
  right: -70px;
}

.form_title {
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.search_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 210px;
}

.search_wrap input,
select,
button {
  padding: 9px 0px 9px 12px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.search_wrap input[type='text'],
input[type='number'],
input[type='date'] {
  max-width: 46.5%;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  height: 13px;
}

input[type='date'] {
  padding: 0 8px 0 12px;
  min-height: 40px;
}

input::-webkit-datetime-edit {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search_wrap input::placeholder {
  font-family: 'Montserrat';
  color: #ffffff;
}

.search_wrap select option {
  padding: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background-color: #1b1b1c;
}

.search_submit {
  padding: 5px 0 7px;
  border: none;
  background: #ffb800;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  transition: 0.2s;
}

.search_submit:hover {
  opacity: 0.7;
}

.why_us-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.why_us-title {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  line-height: 38px;
}

.why_us-card {
  padding-bottom: 25px;
  max-width: 264px;
}

.why_us-icon {
  margin-bottom: 17px;
}

.why_us-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* header styles end */

/*
  ========================================
  main styles start
  ========================================
*/

/* section actual style start */

.actual {
  padding-bottom: 72px;
  background: #1b1e22;
}

.actual_title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
}

.actual_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actual_wrap-link {
  display: inline-block;
  margin-bottom: 24px;
  text-decoration: none;
}

.actual_card {
  position: relative;
  min-height: 433px;
  max-width: 362px;
  background: #23282f;
  border-radius: 4px;
  transition: 0.5s;
}

.actual_card:hover {
  transform: scale(1.05);
  background: #ffffff;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.75);
}

.actual_card:hover .actual_card-title,
.actual_card:hover .actual_card-text,
.actual_card:hover .actual_card-more {
  color: black;
}

.actual_img {
  position: relative;
  margin-bottom: 16px;
}

.img_desc {
  position: absolute;
  bottom: 25px;
  left: 0;
  transition: 0.5s;
}

.actual_card:hover .img_desc {
  transform: translateY(15px);
}

.actual_img .date {
  position: relative;
  padding-left: 78px;
  min-width: 250px;
  background: #1b1e22;
  opacity: 0.75;
  border-radius: 0px 6px 6px 0px;
  font-weight: 500;
  font-size: 13px;
  line-height: 32.4px;
  text-align: center;
  color: #ffffff;
}

.cost {
  position: absolute;
  padding: 0 4px;
  bottom: 0;
  left: 0;
  background: #ffb800;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1b1e22;
  z-index: 1;
}

.cost::before {
  content: 'от';
  padding-right: 3px;
  font-weight: 500;
  font-size: 13px;
}

.actual_card-title {
  padding: 0 20px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.actual_card-text {
  padding: 0 20px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.actual_card-more {
  position: absolute;
  bottom: 23px;
  left: 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.actual_link,
.blog_link {
  display: block;
  margin: 24px auto 0;
  padding: 11px 35px;
  max-width: 218px;
  border: 1px solid #ffb800;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  transition: 0.5s;
}

.actual_link:hover,
.blog_link:hover {
  transform: scale(1.1);
  background-color: #ffb800;
  color: #000000;
}

/* section actual style end */

/* section smth style start */

.smth {
  padding-top: 80px;
  min-height: 263px;
  background: linear-gradient(
        180deg,
        rgb(27 30 34) 0.1%,
        rgb(27 30 34 / 75%) 50%,
        #1b1e22
      )
      0.1%,
    url(../imgs/bg_smth.png) no-repeat center;
  background-size: cover;
}

.smth_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.score {
  padding-bottom: 20px;
}

.number {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 78px;
  line-height: 58px;
  text-align: center;
  color: #ffb800;
  opacity: 0.9;
}

.number_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

/* section smth style end */

/* section blog style start */

.blog {
  padding: 65px 0 63px;
  background: #1b1e22;
}

.blog_title {
  margin-bottom: 42px;
  text-align: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
}

.blog_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}

.blog_main-card {
  position: relative;
  padding-bottom: 20px;
  background: rgba(31, 31, 31, 0.65);
  border-radius: 4px;
  transition: 0.4s;
}

.blog_main-card:hover {
  transform: scale(1.01);
}

.blog_main-card:hover .main_card-pic {
  opacity: 0.6;
}

.main_card-pic {
  opacity: 0.4;
}

.main_title-wrap {
  position: absolute;
  max-width: 522px;
  top: 51px;
  left: 15px;
  transition: 0.4s;
}

.blog_main-card:hover .main_title-wrap {
  transform: translateY(45px);
}

.main_card-title {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

.blog_main-card .date {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.blog_card-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  max-width: 552px;
}

.blog_card-link {
  flex-basis: 264px;
  text-decoration: none;
}

.blog_card {
  position: relative;
  min-height: 480px;
  background: #23282f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 0.4s;
}

.blog_card:hover {
  transform: scale(1.03);
  background-color: rgba(32, 32, 32, 0.521);
}

.blog_card-pic {
  margin-bottom: 20px;
}

.blog_card-title {
  margin-bottom: 14px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.blog_card-text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.blog_span-wrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 21px;
  left: 20px;
  min-width: 225px;
}

.blog_card span {
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.blog_span-wrap .date,
.blog_span-wrap .blog_span-group {
  min-width: 103px;
}

.blog_span-wrap .date {
  text-align: left;
}

.blog_span-wrap .blog_span-group {
  text-align: right;
}

.blog_card-chat {
  position: relative;
  padding-right: 35px;
}

.blog_card-chat::before {
  content: '';
  position: absolute;
  left: -19px;
  width: 12px;
  height: 12px;
  background: url(../imgs/svg/chat.svg);
}

.blog_span-wrap .selected {
  position: relative;
  color: #ffffff;
}

.blog_span-wrap .selected::before {
  content: '';
  position: absolute;
  left: -19px;
  bottom: 3px;
  width: 12px;
  height: 12px;
  background: url(../imgs/svg/like_sel.svg);
}

.blog_card-like {
  position: relative;
}

.blog_card-like::before {
  content: '';
  position: absolute;
  left: -19px;
  bottom: 3px;
  width: 12px;
  height: 12px;
  background: url(../imgs/svg/like.svg);
}

/* section blog style end */

/* section review style start */

.review {
  padding-bottom: 66px;
  background: #1b1e22;
}

.review_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background: url(../imgs/svg/group_bg_review.svg) no-repeat 50% 63%;
  min-height: 362px;
  max-width: 924px;
  z-index: 0;
}

.review_title {
  text-align: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
}

.review_text {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.review_name {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffb800;
}

.navbar_list {
  display: flex;
  justify-content: space-between;
  min-width: 48px;
}

.nav_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.navbar_item .selected {
  background-color: #fff;
}

/* section review style end */

/* main styles end */

/*
  ========================================
  footer styles start
  ========================================
*/

.footer {
  padding-bottom: 35px;
  background: #1b1e22;
}

.footer_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 875px;
}

.footer_link,
.address,
.soc_info {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 16px;
  transition: 0.3s;
}

.footer_link:hover,
.address:hover {
  opacity: 0.6;
}

.email,
.tel {
  margin-bottom: 22px;
}

.tel:last-child {
  margin-bottom: 0;
}

.mail_link::before {
  content: 'E-mail';
  padding-right: 27px;
  color: #ffb800;
}

.info_tel_wrap {
  padding-right: 40px;
}

.tel_link {
  padding-left: 96px;
}

.tel_link_wb::before {
  content: 'Телефоны';
  padding-right: 27px;
  color: #ffb800;
}

.address::before {
  content: 'Адрес';
  padding-right: 27px;
  color: #ffb800;
}

.info_soc_wrap {
  padding-right: 8px;
}

.soc_info {
  margin-bottom: 15px;
  color: #ffb800;
}

.soc_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 152px;
}

.soc-pic {
  transition: 0.3s;
}

.soc-pic:hover {
  transform: scale(1.5);
  opacity: 0.6;
}

/* footer styles end */

@media (max-width: 1290px) {
  .search {
    transform: translateX(-70px);
  }
}

@media (max-width: 1130px) {
  .container {
    width: 95%;
  }

  .why_us-wrap,
  .actual_wrap,
  .blog_wrap {
    justify-content: space-around;
  }
}

@media (max-width: 1030px) {
  .header_nav {
    justify-content: space-around;
    padding-bottom: 65px;
  }

  .search {
    position: static;
    margin: 0 auto 40px;
    max-width: 70%;
    transform: translateX(0);
  }

  .banner_title {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    max-width: 60%;
  }

  .banner_text {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
  }

  .why_us-wrap {
    justify-content: space-around;
  }

  .actual_wrap {
    justify-content: space-around;
  }

  .actual_img img,
  .actual_card {
    max-width: 350px;
  }

  .actual_card {
    min-height: 450px;
  }

  .smth {
    padding-top: 20px;
  }

  .blog_wrap {
    justify-content: space-around;
  }
}

@media (max-width: 715px) {
  .nav_bar {
    justify-content: space-around;
  }

  .search_wrap input,
  .search_wrap input[type='text'] {
    max-width: 100%;
  }

  .actual_wrap-link:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 690px) {
  .header_nav {
    padding-bottom: 45px;
  }

  .logo {
    margin-right: 10px;
  }

  .nav_bar {
    display: none;
  }

  .header_menu {
    display: inline-block;
  }

  .banner_title {
    font-size: 30px;
    line-height: 35px;
    max-width: 85%;
  }

  .banner_text {
    font-size: 15px;
    line-height: 25px;
  }

  .search {
    padding: 15px 20px;
    min-height: 300px;
  }

  .form_title {
    text-align: center;
    font-size: 15px;
  }

  .why_us-title {
    margin: 0 auto;
    max-width: 85%;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 35px;
  }

  .why_us-desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .actual_title,
  .blog_title,
  .review_title,
  .main_card-title {
    font-size: 25px;
  }

  .smth {
    padding-top: 0;
  }

  .smth_wrap {
    justify-content: space-around;
  }

  .number {
    margin-bottom: 10px;
    font-size: 58px;
  }

  .number_text,
  .review_text {
    font-size: 14px;
  }

  .blog {
    padding-top: 0;
  }

  .blog_main-card:hover .main_title-wrap {
    transform: translateY(5px);
  }

  .main_card-pic {
    max-width: 350px;
  }

  .blog_card-wrap {
    display: none;
  }

  .footer_wrap {
    justify-content: space-around;
    text-align: center;
  }

  .info_wrap {
    padding-bottom: 15px;
  }
}

@media (max-width: 370px) {
  .logo_lang-wrap {
    flex-basis: 80%;
  }
  .actual_img img,
  .actual_card {
    max-width: 100%;
  }

  .main_card-pic {
    max-width: 100%;
  }
}
